body {
  display: flex;
  justify-content: center;
}

.app {
  height: 95vh;
  width: 90vw;
  display: flex;
  top: 0;
  background-color: white;
}

.map {
  width: 90%;
  margin: 20px 0 20px 8px;
}

.marker {
  background-image: url("https://i.imgur.com/oz3r3Wq.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px red;
}

.marker-delivery {
  background-image: url("https://i.imgur.com/cIooqnp.png");
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: solid black 3px;
}

.right-component {
  padding: 35px;
  background-color: white;
  width: 30%;
  display: flex;
}

.search-bar {
  padding: 20px;
  background-color: #ffe75e;
  align-items: center;
  justify-content: center;
  height: 280px;
  border-radius: 20px;
  box-shadow: 5px 7px 15px black;
}

.search-bar h2 {
  text-align: center;
  color: red;
}

#longitude {
  margin: 3px;
  border: none;
  padding: 5px;
}
#latitude {
  margin: 3px;
  border: none;
  padding: 5px;
}
